.history
assets/images_/**
assets/scss/**
.aider*
**/data.db
.env
python/.venv
python/.env
assets/images/shop_images
assets/images/shop_enhanced
assets/images/DEL/**/*
assets/images/Del/**/*
gemini_2_5_enhancement_log.txt